<html>
	<head>
		<title>Authorization Page</title>
	</head>
	<body>
		<%= welcome %>
		<br />
		Do you want to authorize <%= body %>?
		<input type="button" name="approve" value="Approve">
		<input type="button" name="deny" value="Deny">
	</body>
</html>