<html>
	<head>
		<title>Login Page</title>
	</head>
	<body>
		<form action="/oauth/authorize" method="get">
			Username: <input type="text" name="user" value="" required> <input type="submit" name="action" value="Login">
		</form>
	</body>
</html>